body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.box {
    width: 150px;
    height: 150px;
}

.ball {
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 1s infinite cubic-bezier(0.01,-0.14, 0, 0.99) alternate;
}

@keyframes bounce {
    to {
        transform: translateY(-300px);
    }
}

.fade-in {
    background-color: #27ae60;
    opacity: 0;
    animation: fadeIn 3s linear infinite alternate;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.spin {
    background-color: #e74c3c;
    animation: spin 2s infinite ease alternate;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.color-change {
    background-color: #05141e;
    animation: colorChange 5s infinite alternate;
}

@keyframes colorChange {
    50% {
        background-color: yellow;
    }
    75% {
        background-color: blueviolet;
        /* opacity: 0.1; */
    }
    100% {
        background-color: aqua;
    }
}

.pulse {
    background-color: #e67e22;
    border-radius: 50%;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    to {
        transform: scale(1.2);
        /* background-color: #27ae60; */
    }
}

.DIA {
    background-color: aliceblue;
    opacity: 0;
    animation: DIA 3s infinite alternate;
}

@keyframes DIA {
    50% {
        background-color: yellow;
        transform: rotate(0deg) translateY(0px);
    }
    75% {
        background-color: blueviolet;
        transform: rotate(360deg) translateY(-150px);
        opacity: 1;
    }
    100% {
        transform: rotate(30deg) translateX(-150px);
        background-color: aqua;
    }
}

