body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    gap: 50px;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
.box {
    width: 150px;
    height: 150px;
}

  .ball {
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 1s infinite alternate; /* Use the bounce animation for 1 second, repeat infinitely */
  }
  
  @keyframes bounce {
    to {
      transform: translateY(-100px); /* Move the ball 100 pixels upward */
    }
  }

  .fade-in {
    background-color: #27ae60;
    opacity: 0;
    animation: fadeIn 2s alternate infinite; /* Use the fadeIn animation for 2 seconds */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .spin {
    background-color: #e74c3c;
    animation: spin 2s infinite linear; /* Use the spin animation for 2 seconds, repeat infinitely */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .color-change {
    background-color: #05141e;
    animation: colorChange 2s infinite alternate; /* Use the colorChange animation for 2 seconds, repeat infinitely, alternate direction */
  }
  
  @keyframes colorChange {
    to {
      background-color: #c5e73c;
    }
  }

  .pulse {
    background-color: #e67e22;
    border-radius: 50%;
    animation: pulse 1.5s infinite alternate; /* Use the pulse animation for 1.5 seconds, repeat infinitely, alternate direction */
  }
  
  @keyframes pulse {
    to {
      transform: scale(1.2);
    }
  }

